<!doctype html>
<html>
<script src = "TeamCan.js"></script>
<link rel="stylesheet" type="text/css" href="TeamCan.css">
<link href="https://webfontworld.github.io/tmon/Tmon.css" rel="stylesheet">
<head>
<title>Team C.A.N.</title>
</head>
<body>
    <div class ="Header">
        <div class = "Menu_space"></div>
        <div class = "Menu" OnClick="location.href ='TeamCan.html'">Home</div>
        <div class = "Menu" OnClick="location.href ='Chating.html'">Chat</div>
        <!--<div class = "Menu" onclick="srcChange()">Download</div>!-->
        <div class = "Menu_space"></div>
        <div class = "Login_Space">
        <!--<div class = "Login_Button"  OnClick="location.href ='signup/build/index.html'">Login</div>-->
        </div>
      </div>
      <div class = "Chat">
        <div class = "Chatpage" id = "Chattext">
            
        </div>
        <div class = "Chattext">
            <input type = "text" class = "Chattext1"
                   id = "Chattext1" onchange="printName()">
        </div>
      </div>
</body>
</html>